{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Intergrate with Fitbit" %}{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<p>{% blocktrans %}
After a successful intergration with Fitbit, you will be able to
view and track your weight data with ease and monitor how you gain
and drop weight.
{% endblocktrans %}</p>

<p>
<a class="btn btn-primary"
   href="{{fitbit_auth_link}}">{% trans "Intergrate with fitbit." %} »</a>
</p>

{% endblock %} 
