{% extends "base_features.html" %}
{% load i18n staticfiles wger_extras %}

{#           #}
{# Opengraph #}
{#           #}
{% block opengraph %}
    {{ block.super }}
    <meta property="og:title" content="{% trans 'Features' %} - wger">

    {% with username=owner_user.username %}
        <meta property="og:description"
              content="{% blocktrans %}wger Workout Manager is a free, open source web application that manages your exercises and workouts. {% endblocktrans %}">
    {% endwith %}
{% endblock %}


{#         #}
{# Content #}
{#         #}
{% block content %}
    <header id="head">
        <div class="container">

            <div class="intro-text">

                <div class="intro-heading">{% trans "Welcome to wger" %}</div>
                <p>"WE ARE WHAT WE REPEATEDLY DO. EXCELLENCE <br>
                    IS THEREFORE NOT AN ACT BUT A HABBIT."</p>
                {#                {% if allow_guest_users and not user.is_authenticated %}#}
                <a id='try' href="{% url 'core:user:demo-entries' %}" class="try-btn page-scroll btn btn-xl"
                   style="margin-top: 1em; background: none; border: 2px solid white;border-radius: 40px; padding: 1em 3em; transition: all 1s ease-in-out;">
                    {% trans 'TRY IT NOW' %}
                </a>
                {#                {% endif %}#}

                {#                {% if not user.is_authenticated or user.userprofile.is_temporary %}#}
                {#                    {% if allow_registration %}#}
                {#                        <a href="{% url 'core:user:registration' %}" class="page-scroll btn btn-xl" style="margin-top: 1em;">#}
                {#                            {% trans "Register" %}#}
                {#                        </a>#}
                {#                    {% endif %}#}
                {##}
                {#                    <a href="" class="page-scroll btn btn-xl" style="margin-top: 1em;">#}
                {#                        {% trans "Login" %}#}
                {#                    </a>#}
                {##}
                {#                {% endif %}#}
            </div>


        </div>
    </header>

    <!-- Services Section -->
    <section id="workouts">
        <div class="container-fluid">

            <div id="workout" class="text">
                <div class="col-md-3 workout">
                    <p><span style="font-family:'Helvetica';font-weight:400;">W O R K O U T S &nbsp; <span class="titlelight"> C A L E N D A R</span></span></p>
                    <span class="liner"></span><br/>


                    <p >You can create and manage flexible workout routines for any goals you have. Select exactly which exercises you'll do and how many repetitions, time or distance you want to do them. You can also combine different workouts into a schedule.
                    </p>
                </div>
            </div>

            <div id="nutritions" class="text">
                <div class="col-md-3 col-md-offset-1  nutrition">
                    <p>
                        <span style="font-family:'Helvetica';font-weight:400;"> N U T R I T I O N &nbsp;<span
                                class="titlelight">D I E T</span> </span><br/>
                    </p>

                    <span class="liner"></span><br/>

                    <p >
                        Create your personal diet plan by creating as many meals with as many different ingredients as
                        you need.
                        The application will calculate the nutritional values (total energy, protein, carbohydrates, and
                        so on) about the whole plan as well as
                        the indivual meals.
                    </p>
                </div>
            </div>

            <div id="dairy" class="text row ">
                <div class="col-md-3 col-md-offset-1  diary">
                    <p><span style="font-family:'Helvetica';font-weight:400;">D I A R Y&nbsp; </span><span
                            style="font-family:'Helvetica-Bold', 'Helvetica Bold', 'Helvetica';font-weight:700;">T R A C K&nbsp; Y O U R&nbsp; P R O G R E S S</span><span
                    ></span></p>

                    <span class="liner"></span><br/>

                    <p >Enter the weights and repetitions you did for each exercise to generate diagrams that let you see at a glance how well you are doing. The raw numbers are of course still accessible. You can also enter notes and a general impression (great, neutral, etc.)
                    </p>
                </div>
            </div>


        </div>
        </div>
    </section>

    <div class="text-center your-advantages">
        <p class="your-advantages"><span>YOUR ADVANTAGES</span></p>
        <span class="strike" ></span>
        <p class="summary">wger Workout Manager is a free, open source web application that manages your exercises,
            workouts
            and nutrition. It started as a pet project of mine to replace my growing collection of different
            spreadsheets, but
            it has become something other people could also find useful
        </p>
    </div>

    <div id="workimgdiv">
        <div>
            <span>Workouts</span>
            <p>You can create and manage flexible workout routines for any goals you have.
                Select exactly which exercises you'll do and how many repetitions,
                time or distance you want to do them. You can also combine different workouts into a schedule.
            </p>
        </div>
    </div>

  <div class="text-center our-work">
        <p class="our-work"><span style="font-family: FontAwesome; font-size:48px;">Our&nbsp;Work</span></p>
        <span class="strike" ></span>
        <p id="our-work">wger Workout Manager is a free, open source web application that manages your exercises,
            workouts
            and nutrition. It started as a pet project of mine to replace my growing collection of different
            spreadsheets, but
            it has become something other people could also find useful
        </p>
    </div>

    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                    <h2 class="section-heading" style=" color:white; font-family: Open Sans Light, Arial, Helvetica, sans-serif">{% trans "Features" %}</h2>
                     <span class="strike" ></span>
                    <h3 class="section-subheading text-muted" style="color: white; ">{% trans "Among many others" %}</h3>
                </div>
            </div>

 <div class=" col-md-4 ">
   <p><span style="font-family:'Helvetica';font-weight:400;">W E I G H T &nbsp; <span class="titlelight">T R A C K E R</span></span></p>
                    <span class="liner"></span><br/>


                <p class="text-muted" style="color: white">
                    {% blocktrans trimmed %}
                        Keep track of your progress with the body weight chart. This makes
                        it easy to see if you are reaching your goals or need to adjust
                        something.
                    {% endblocktrans %}
                </p>
 </div>
  <div class=" col-md-4 ">

   <p><span style="font-family:'Helvetica';font-weight:400;"> <span class="titlelight"> C A L E N D A R</span></span></p>
                    <span class="liner"></span><br/>

                <p class="text-muted" style="color: white">
                    {% blocktrans trimmed %}
                        Get an overview of how and when you trained as well as how you
                        personally felt you performed. Access all your individual diary
                        entries with one click.
                    {% endblocktrans %}
                </p>
  </div>
         <div class=" col-md-4 ">
          <p><span style="font-family:'Helvetica';font-weight:400;">E X E R C I S E&nbsp; <span class="titlelight"> D A T A B A S E</span></span></p>
                    <span class="liner"></span><br/>


                <p class="text-muted" style="color: white">
                    {% blocktrans trimmed %}
                        The exercise database contains more than hundred exercises from
                        which you can choose when creating a workout. You can view them by
                        category and equipment used or muscles trained.
                    {% endblocktrans %}
                </p>
         </div>

        <div class=" col-md-4 " style="margin-top: 78px;">
        <p><span style="font-family:'Helvetica';font-weight:400;">G Y M&nbsp; <span class="titlelight"> M A N A G E M E N T</span></span></p>
                    <span class="liner"></span><br/>


                <p class="text-muted" style="color: white">
                    {% blocktrans trimmed %}
                        Use the application for your gym to manage its members, their
                        workouts and attendance. You can manage the members' contracts,
                        keep notes and upload any files you might need.
                    {% endblocktrans %}
                </p>
        </div>
<div  class=" col-md-4 " style="margin-top: 82px;">
    <img id='api' class=' col-sm-2 col-sm-push-8'src={% static 'images/api.png' %}>
<div id="free">
     <p class="col-sm-10" style="margin-top: -75px;"><span style="font-family:'Helvetica';font-weight:400;">100% F R E E&nbsp; <span class="titlelight">A N D &nbsp O P E N <br> S O U R C E</span></span></p>


</div>
                   <span class="liner"></span><br/>



                <p class="text-muted" style="color: white">
                    {% blocktrans trimmed %}
                        wger provides a REST API with full read and write access to all
                        data so you can integrate your own application and tools.
                    {% endblocktrans %}
                </p>
</div>
        </div>


    </section>
    <script>
        var velocity = 0.5;


        function updapte() {
            var pos = $(window).scrollTop();
            $(".header").each(function () {
                var $element = $(this);
                // subtract some from the height b/c of the padding
                var height = $element.height() - 18;
                $(this).css('backgroundPosition', '50% ' + Math.round((height - pos) * velocity) + 'px');
            });
        };

        $(window).bind('scroll', update);
    </script>



{% endblock %}

