<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <div class="timeline-heading">
         <h4>{% trans "REST API" %}</h4>

     </div>


     <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'images/gym-management.png' %}"
                                     alt="">
                            </div>

  <div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'images/muscle-overview.png' %}"
                                     alt="">
                            </div>
<div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'images/calendar.png' %}" alt="">
                            </div>

<div class="timeline-image">
                                <img class="img-circle img-responsive" src="{% static 'images/weight-chart.png' %}"
                                     alt="">
                            </div>

<body>

</body>
</html>
